.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ################################################# */
/* ################################################# */
/* ################################################# */

.section-1, .section-2, .section-3, .section-4{
    height: 100vh;
}
.section-1{
  background-color: #282c34;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/auth-development-ae454.appspot.com/o/Im%C3%A1genes%2FWhatsApp%20Image%202021-07-23%20at%2017.08.27.jpeg?alt=media&token=48ac50e2-668c-4a9a-91e0-84ee3a55a616");
  background-repeat: no-repeat;
  display: flex;
  background-size: 90%;
  
}

.section-2{
  background-color: #A5A584ff;
}

.section-3{
  background-color: #1E1E1Eff;
}

.section-4{
  background-color: rgb(208, 240, 215);
}

.footer-bar{
  background-color: #72AFD5ff;
  bottom: 0;
}

.body{
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.top-menu{
  overflow: hidden;
  /* background-color: #007ACCff; */
  background-color: #282c34;
  color: rgb(224, 218, 218);
  height: 5vh;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 2px;
  display: block;
  transition: top 0.3s;
}

.lateral-menu{
  background-color: #007ACCff;
  background: transparent;
  height: 50vh;
  width: 10vw;
  max-width: 100px;
  min-width: 50px;
  position: fixed;
  top: 25vh;
  left: 0;
}

.vertical-align-parent{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  flex: 1 1 auto;
}

.vertical-align-child{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  flex: 1 1 auto;
  width: 100%;
}

.menu-btn{
  background-color: hsl(233, 34%, 24%);
  height: 25%;
  width: 10px;
  padding-top: 25%;
  text-align: center;
  text-align: right;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
  /* color: hsl(210, 11%, 90%); */
  color: transparent;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  /* padding: .375rem .75rem; */
  /* font-size: 1rem; */
  font-size: 1vw;
  /* border-radius: .25rem; */
  transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0s;    
  display: inline-block;
  overflow: hidden;
}

.menu-btn:hover{
  width: 100px; 
  color: hsl(210, 11%, 90%);
  text-decoration: none;
  text-align: center;
  background-color: hsl(233, 34%, 15%);
  padding-right: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  align-items: center;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .menu-btn:hover {
    padding-left: 0.5rem;
    text-align: left;
    font-size: 2.5vw;
  }
}

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 6s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 2s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-8-13 17:38:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.title-font {
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  color: rgb(2, 173, 122);
  text-align: center;
  margin-top: 40vh !important;
}
.text-s2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  color: rgb(222, 234, 248);
  text-align: center;
  margin: auto;
  width: 90vh;
}

.button-mas{
  /* Position */
  position: absolute;
  -ms-transform: translate(16vw, 25vh);
  transform: translate(14vw, 23vh); /* (100/6, 100/4) */
  display: inline-block;
  /* Style */
  width: 8vw;
  padding: 24px 0;
  background-color: hsl(257, 74%, 40%);
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 14px 0 0 0;
  color: #fff;
}

.btn-top-menu{
  border: 1px solid green;
}

.btn {
  color: rgb(214, 214, 214) !important;
}

.hover-img .hover-img--on,
.hover-img:hover .hover-img--off {
  display: none;
}

.hover-img:hover .hover-img--on {
  display: inline;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.display-img {
  height: 50%;
}

.three-imgs {
  height: 100%;
  padding: 0% !important;
  border: 0px;
}

  /* .img-fondo{
    width: 100vw;
    height: 100vh;
    margin-left: -20px;
    background-size: contain;
  } */
  
  /*
  .colors{
    --eerie-black: #1E1E1Eff;
    --artichoke: #A5A584ff;
    --onyx: #3B3D3Eff;
    --onyx-2: #3B3D3Eff;
    --onyx-3: #3B3D3Eff; 
    --artichoke: #A5A584ff;
    --iceberg: #72AFD5ff;
    --onyx: #3B3D3Eff;
    --iceberg-2: #72AFD5ff;
    --artichoke-2: #A5A584ff;
    --eerie-black: #1E1E1Eff;
    --bright-navy-blue: #007ACCff;
    --onyx: #3B3D3Eff;
    --onyx-2: #3B3D3Eff;
    --onyx-3: #3B3D3Eff;

    --heliotrope: #df63ec;
    --malibu: #6bbbf8;
    --purple-heart: #5742c9;
    --black-pearl: #050413;
    --link-water: #d5e9f5;
    --paris-m: #1d0769;
    --valencia: #d94a3f;
    --seance: #671579;
    --revolver: #2f1438;
    --cape-cod: #474848;


  }
  */

/* Lateral Bar https://codepen.io/lisilinhart/pen/oNWzrVy */

  /* .status-bar {
    --x: 0.15;
    transform-origin: 50% 50%;
    transform: scaleX(var(--x));
  }
  .status-bar__item {
    --opacity: 0;
    --scale: 0.8;
    transform-origin: 50% 50%;
    opacity: var(--opacity, 1);
    transform: scale(var(--scale));
  }
  
  .status-bar {
    min-width: 340px;
    background: #35303d;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .status-bar__list {
    display: flex;
    align-items: center;
  }
  .status-bar__item {
    margin: 0 6px;
  }
  .status-bar__spacer {
    flex: 1;
  }
  .status-bar .oi {
    font-size: 0.9rem;
    display: block;
  }
  
  html {
    height: 100%;
    display: flex;
  }
  
  body {
    position: relative;
    margin: auto;
    background: #151318;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    color: #fff;
  }
  
  .replay {
    position: absolute;
    top: 100px;
    left: 50%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: inherit;
    transform: translateX(-50%);
  }
  .replay .oi {
    font-size: 1.5rem;
  } */